
/* About Me Section */

.about__top {
  height: 60vh;
  background-color: #4c0000;
}

.about__top__desc {
  width: 80%;

  text-align: center;
  font-size: 2.25vh;
  letter-spacing: 1px;
  line-height: 4vh;
}

.about__bot {
  height: 40vh;
  width: 93%;

  justify-content: space-between;
  font-size: 2.25vh;
  text-align: center;
}

.about__bot__icons {
  height: 50%;
  width: 18.5%;
}

.icon {
  height: 4.5vh;
}

.icon__detail {
  max-width: 13em;
}

.icon--margin_top {
  margin-top: 1vh;
}

.icon--margin_bot {
  margin-bottom: 2vh;
}



/* Projects & Experiences Section */

.projects {
  background-color: #EDE5E5;
}

.projects__preview {
  width: 100%;
}

.experiences {}

.experiences__preview {
  width: 99%;
}

.section--large_third {
  height: 43vh;
  width: 43vh;
}

.section--large_third:hover {
  background-color: rgba(78, 0, 0, .5);
  background-blend-mode: multiply;
}

.section--small_third {
  height: 45%;
  width: 33%;

  align-items: center;
  text-align: center;

  font-size: 2.25vh;
}

.section--header {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  font-size: 4.5vh;
  letter-spacing: -1px;
  text-align: center;
}

.section--footer {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  font-size: 2vh;
  letter-spacing: 1px;
  color: #4c0000;
  font-weight: bold;
}

.section--button {
  padding: 2em;
  border: 2px solid #4c0000;
  cursor: pointer;
}

.section--button:hover {
  background-color: #4c0000;
  color: #EDE5E5;
}

.exp__title {
  width: 65%;
  max-width: 13em;
}

.exp__desc {
  max-width: 21em;
  padding-top: 3vh;
  line-height: 4vh;
}

.picture {
  height: 11vh;
}



/* Div Overview */

.div__overview {
  display: none;
  text-align: center;
}

.section--large_third:hover > .div__overview {
  display: block;
}

.overview--button {
  width: 7vw;

  margin: 0 auto;
  margin-top: 2.5vh;
  padding: 1.5em 1em;

  border: 2px solid white;
  font-size: 1.5vh;
  letter-spacing: 2px;
  cursor: pointer;
}

.overview--button:hover {
  background-color: white;
  color: #4c0000;
}

.overview--title {
  font-size: 1.5em;
  letter-spacing: 1px;
}

.overview--desc {
  font-size: .9em;
  font-style: italic;
}



/* Div Modal */

.info__detail {
  width: 93%;
  font-size: 2vh;
  line-height: 3.5vh;
  letter-spacing: 1px;
}

.info__skills {
  width: 70%;
  font-size: 2.25vh;
}

.info--title {
  width: 100%;

  font-size: 5vh;
  font-weight: bold;
  letter-spacing: 0px;
  text-align: center;
}

.info--box {
  width: fit-content;
  padding: .5em;
  border-radius: 3px;
}

.info__pakky-bird {
  height: 45%;
  background-color: black;
  color: #e6c900;
}

.box--yellow {
  border: 1px solid #e6c900;
}

.info__around-our-world {
  height: 45%;
  color:  #68B3AF;
}

.box--blue {
  border: 1px solid #68B3AF;
}

.info__pabang--title {
  width: 100%;

  position: absolute;
  top: 13%;
  left: 72%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  font-size: 7vh;
  letter-spacing: -1px;
  text-align: center;
}

.info__pabang {
  height: 45%;
  background-color: #2a2a2a;
}

.box--white {
  border: 1px solid white;
}



/* Images */

.splash_image {
  height: 55%;
}

.preview--around-our-world {
  background: url("http://res.cloudinary.com/aelho-pak/image/upload/v1494379954/Project/around_our_world.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 45% 0%;
}

.preview--pakky-bird {
  background: url("http://res.cloudinary.com/aelho-pak/image/upload/v1494379955/Project/pakky_bird.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50% 45%;
  background-color: black;
}

.preview--pabang {
  background: url("http://res.cloudinary.com/aelho-pak/image/upload/v1494379925/Project/pabang.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 120%;
}

.splash--around-our-world {
  background: url("http://res.cloudinary.com/aelho-pak/image/upload/v1494379954/Project/around_our_world.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 80%;
  background-position: 50% 5%;
}

.splash--pakky-bird {
  background: url("http://res.cloudinary.com/aelho-pak/image/upload/v1494379955/Project/pakky_bird.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 180%;
  background-position: 50% 49%;
}

.splash--pabang {
  background: url("http://res.cloudinary.com/aelho-pak/image/upload/v1494379925/Project/pabang.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 102%;
}



/* The Modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: white;
    height: 90vh;
    width: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
}



 /*Media Queries */

/* smartphones, portrait 480x320 */
@media screen and (min-width:320px) and (max-width:425px) {

  .splash {
    background-size: 300%;
    background-position: 65.5% 54%;
    color: #4c0000;
  }

  hr {
    display: none;
  }

  .splash__top {
    -webkit-text-stroke: .1px white;
  }

  .splash__mid {
    -webkit-text-stroke: .2px white;
  }

  .splash__bot {
    width: 100%;
  }

  .section--header {
    width: 80%;
    top: 5%;
  }

  .about__top__desc {
    width: 90%;
    margin-top: 4em;
  }

  .about__bot {
    border: 1px solid red;
    width: 100%;
    font-size: 1.75vh;
  }

  .icon__detail {
    min-height: 3em;
    font-size: 1.3vh;
  }

  .projects__preview {
    height: 74%;
    flex-direction: column;
    margin-bottom: 1em;
  }

  .section--large_third {
    height: 8em;
    width: 8em;
  }

  .section--footer {
    bottom: 3.5%;
  }

  .section--button {
    width: 10em;
    padding: 1em;
    text-align: center;
  }

  .preview--pakky-bird {
    background-position: 49.5% 43%;
  }

  .preview--around-our-world {
    background-size: 130%;
  }

  .overview--desc {
    font-size: .5em;
  }

  .overview--title {
    font-size: 1em;
  }

  .overview--button {
    width: 75%;
    padding: .5em .25em;
  }

  .modal-content {
    height: 75vh;
    width: 45vh;
  }

  .splash--around-our-world {
    background-position: 50% 45%;
  }

  .splash--pakky-bird {
    background-size: 250%;
    background-position: 50% 50%;
  }

  .splash--pabang {
    background-size: 125%;
    background-position: 0% 0%;
  }

  .info--title {
    font-size: 3.5vh;
  }

  .info__detail {
    font-size: 1.6vh;
    line-height: 2vh;
  }

  .info__skills {
    width: 90%;
    font-size: 1.75vh;
  }

  .experiences__preview {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section--small_third {
    width: 90%;
    margin-bottom: 4vh;
    font-size: 1.75vh;
  }

  .picture {
    height: 8vh;
    margin-bottom: 1vh;
  }

  .exp__title {
    max-width: 100%;
  }

  .exp__desc {
    padding-top: 2vh;
    line-height: 2vh;
  }

  .contact__desc {
    width: 90%;
    margin-top: 2vh;
    text-align: center;
  }

  .contact__top__icons {
    height: 60%;
    flex-direction: column;
    align-items: center;
  }

  .icon--desc {
    margin-top: 7vh;
  }

  .contact__bot__desc {
    width: 100%;
  }

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  {
  /*html { background: orange;}*/
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  {
  /*html { background: blue;}*/
 }

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  {
  /*html { background: black;}*/
}
