
/* Media Queries */

/* smartphones */
@media screen and (min-width:320px) and (max-width:425px) {

  /* Splash Section */
 .splash {
   background-size: 300%;
   background-position: 66.5% 54%;
   color: #4c0000;
 }

 hr {
   display: none;
 }

 .splash__top {
   margin-bottom: 1vh;
   -webkit-text-stroke: .75px #b2b2b2;
 }

 .splash__mid {
   font-size: 7vh;
   -webkit-text-stroke: 1.25px #b2b2b2;
 }

 .splash__bot {
   width: 125%;
 }

 /* Section */
 .section--header {
   width: 65%;
   max-width: 38vh;
   top: 4%;

   padding-bottom: 1vh;
   border-bottom: 2px solid #4c0000;
 }

  .section--footer {
    bottom: 3.5%;
  }

  .section--button {
    width: 10em;
    padding: 1em;
    text-align: center;
  }

 /* About Section */
 .about__top {
   height: 75vh;
 }

 .header--about {
   width: 60%;
   top: 7%;

   padding-bottom: 1vh;
   border-bottom: 2px solid white;
 }

 .about__top__desc {
   margin-top: 5em;
 }

 .about__bot {
   height: 25vh;
   width: 100%;
   font-size: 1.75vh;
 }

 .icon__detail {
   max-height: 3em;
   width: 109%;
   font-size: 1.3vh;
 }

 /* Project Section */
 .projects__preview {
   height: 75%;
   flex-direction: column;
   margin-bottom: .5em;
 }

 .section--large_third {
   height: 8em;
   width: 8em;
 }

 .preview--pakky-bird {
   background-position: 49.5% 43%;
 }

 .preview--around-our-world {
   background-size: 130%;
 }

 .splash--around-our-world {
   background-position: 50% 45%;
 }

 .splash--pakky-bird {
   background-size: 250%;
   background-position: 50% 50%;
 }

 .splash--pabang {
   background-size: 125%;
   background-position: 0% 0%;
 }

 .overview--desc {
   font-size: .5em;
 }

 .overview--title {
   font-size: 1em;
 }

 .overview--button {
   width: 75%;
   padding: .5em .25em;
 }

 .modal-content {
   height: 75vh;
   width: 45vh;
 }

 .info--title {
   font-size: 3.5vh;
 }

 .info__detail {
   font-size: 1.6vh;
   line-height: 2vh;
 }

 .icon--infinitedge {
   max-width: 80%;
 }

 .info__skills {
   width: 90%;
   font-size: 1.75vh;
 }

 /* Experience Section */
 .experiences__preview {
   height: 70%;
   flex-direction: column-reverse;
   justify-content: space-between;
   align-items: center;

   margin-top: 5vh;
 }

 .section--small_third {
   width: 90%;
   /*margin-bottom: 6vh;*/
   font-size: 1.75vh;
 }

 .picture {
   height: 8vh;
   margin-bottom: 1vh;
 }

 .exp__title {
   max-width: 100%;
 }

 .exp__desc {
   padding-top: 2vh;
   line-height: 2vh;
 }

 .footer__exp {
   bottom: 1%;
 }

 /* Contact Section */
 .contact__top {
   height: 75vh;
 }

 .contact__bot {
   height: 25vh;
 }

 .contact__desc {
   width: 90%;
   margin-top: 6vh;
   margin-bottom: 2.5vh;
   text-align: center;
 }

 .contact__top__icons {
   height: 60%;
   flex-direction: column;
   align-items: center;
   margin-bottom: 1vh;
 }

 .icon--desc {
   margin-top: 7.5vh;
 }

 .contact__bot__desc {
   width: 100%;
 }

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media screen and (min-width:426px) and (max-width:768px) {
 /*html { background: orange;}*/
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  {
 /*html { background: blue;}*/
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  {
 /*html { background: black;}*/
}
